/* Container Geral */
.editClubContainer {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

/* Título */
.title {
  font-size: 25px;
  margin-bottom: 30px;
  color: #272727;
  font-weight: 400;
}

/* Formulário */
.editClubForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Container Flex para as duas colunas */
.contentFlex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* Coluna Esquerda: Exibe a logomarca e a área de upload */
.leftColumn {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.currentLogo {
  max-width: 100%;
  border-radius: 8px;
}

/* Seção de Upload de Logo */
.fileUploadSection {
  width: 100%;
}

.fileUploadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #ccc;
  padding: 20px 60px;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: 200px;
  text-align: center;
}

.fileUploadContainer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dragArea {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.orText {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 500;
}

.selectFileButton {
  padding: 10px 20px;
  border: 1px solid #066E17;
  color: #066E17;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.fileUploadHint {
  font-size: 0.9rem;
  color: #888;
  margin-top: 10px;
  text-align: center;
}

/* Coluna Direita: Edição do Nome e Categorias */
.rightColumn {
  flex: 1;
  min-width: 250px;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.inputLarge {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputHint {
  font-size: 0.9rem;
  color: #888;
  margin-top: 5px;
}

/* Seção de Categorias */
.categoriesSection {
  margin-bottom: 20px;
}

.categoriesTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #272727;
}

.categoriesSubtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 15px;
}

.categoriesList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.categoryItem {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.categoryItem.selected {
  background-color: #066E17;
  color: white;
  border-color: #5cb36a;
}

/* Botão de Salvar */
.saveButton {
  padding: 10px 20px;
  background-color: #066E17;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .editClubContainer {
    padding: 0px;
  }

  .fileUploadContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: auto;
  }
  
}