.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 35%;
  background-color: #fff;
  padding: 20px;  
}

.leftContainer {
  padding: 60px;  
  background-color: #F8F8F8;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;    
  flex-direction: column;
}

.logo {
  width: 150px;
  height: auto;
}

.loginContainer {
  width: 100%;
  margin: auto;
  display: flex;  
  flex-direction: column;
  gap: 40px;
}

.loginText {
  font-weight: 900;
}

.right {
  width: 65%;
  background-color: #066E17;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: white;
  padding: 20px 100px;
  margin-top: 20px;
  width: 97%;
  border-radius: 100px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navList li a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
}

.imageHome {  
  width: 620px;
  height: auto;
  margin-top: -70px;
}